.navbar {
  margin-bottom: 0;
  background: #0c7cd5;
  color: white;
}

body {
  margin-bottom: 80px;
  background-image: url("../images/paper.jpg");
  background-size: cover;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px #333131;
  padding: 0;
  background-image: url("../images/newspaper.jpg");
  background-size: cover;
  box-shadow: 0px 5px 20px #333131 
}

.jumbotron .background-image {
  height: 100%;
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-weight: 800;
  font-size: 80px;
}

.jumbotron p {
  font-size: 30px;
}

.card-header.title {
  background-color: #04c4e6;
  color: white;
}

.card.article-item {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.card-header.title {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.index-btn {
  width: 150px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-end;
}

.saved-btn-alignment {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.saved-btn {
  width: 200px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.caption {
  position: absolute;
  color: white;
  top: 45%;
  left: 0;
  width: 100%;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.card-header {
  background-color: #04c4e6;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.card-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.comments-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
}

.delete-comment-button {
  float: right;
  border: "50%";
  color: red;
  cursor: default;
}

.comment-item {
  padding-right: 10px;
  width: 100%;
  display: block;
}

.article-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}
